// ===== Quicksand =====
@font-face {
   font-family: "Quicksand";
   src: url("../fonts/Quicksand-SemiBold.woff2") format("woff2"), url("../fonts/Quicksand-SemiBold.woff") format("woff"),
      url("../fonts/Quicksand-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Quicksand";
   src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"),
      url("../fonts/Quicksand-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Quicksand";
   src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff"),
      url("../fonts/Quicksand-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Quicksand";
   src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"),
      url("../fonts/Quicksand-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

// ===== Kaushan Script ==========
@font-face {
   font-family: "Kaushan Script";
   src: url("../fonts/KaushanScript-Regular.woff2") format("woff2"),
      url("../fonts/KaushanScript-Regular.woff") format("woff"),
      url("../fonts/KaushanScript-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

// ===== Kosugi =====
@font-face {
   font-family: "Kosugi";
   src: url("../fonts/Kosugi-Regular.woff2") format("woff2"), url("../fonts/Kosugi-Regular.woff") format("woff"),
      url("../fonts/Kosugi-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
