
   // color
   $orange-color: #ff8c42;
   $light-orange: #ffddc8;
   $white-color: #ffffff;
   $golden-yellow: #ff5b00;
   $gray-color: #dddddd;
   $dark-color: #151515;
   $brown-color: #7B3000;

   // bg-color
   $main-bg-color: #1e1e1e;
   $dark-page: #151515;
   $white-page: #f4f4f4;

   // radius
   $radius: 5px;
   $radius-ten: 10px;
   $max-width: 1920px;



