@import '../config/breakpoints';
@import '../config/mixin';

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 32px;
  max-width: 700px;
  width: 100%;
  background: #FFF;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }


  &__content {
    display: flex;
    align-items: center;
    gap: 32px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;

    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
  }

  &__title {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.6px;

    @include media-breakpoint-down(sm) {
      font-size: 32px;
      letter-spacing: 1.28px;
      text-align: center;
    }
  }

  &__text {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }


  &__btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #03AC25;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
    padding: 16px 0;
    border-radius: 32px;
    border: 1px solid #03AC25;
    min-width: 206px;

    &_sub {
      color: #000;
      border: 1px solid transparent;
    }
  }



}